*{
    padding: 0;
    margin: 0;
}
.con-top-bg{
    width: 100%;
    height: 38px;
    background: rgb(240, 240, 240);
}
.con-top{
    width: 1100px;
    height: 38px;
    line-height: 38px;
    color: gray;
    margin: 0 auto;
}
.top-left{
    height: 38px;
    float: left;
}
.top-right{
    float: right;
    height: 38px;
    font-size: 12px;
    font-weight: 300;
}
.login-url{
    font-size: 12px;
    color: red;
    text-decoration: none;
    font-weight: 300;
}
.re-url{
    font-size: 12px;
    color: rgb(97, 97, 97);
    text-decoration: none;
    font-weight: 400;
}
.order-url{
    font-size: 12px;
    color: grey;
    text-decoration: none;
}

.box-div{
    width: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}
.box-left{
    width: 50%;
    padding: 30px;
}
.box-left img{
    width: 100%;
}
.box-right{
    width: 40%;
    padding: 30px;
}
.box-price{
    color: red;
    font-size: 20px;
    padding-bottom: 20px;
}
.box-de{
    font-size: 13px;
    color: rgb(63, 63, 63);
}
.box-do{
    margin-top: 30px;
}
.box-do button{
    padding: 8px 18px;
    border: none;
    outline: none;
    background: none;
    background: rgb(0, 162, 255);
    border-radius: 4px;
    color: #ffffff;
    cursor: pointer;
}
.box-mess{
    width: 1000px;
    margin: 0 auto;
}
.box-title{
    font-size: 20px;
    height: 50px;
    border-bottom: 1px solid rgb(228, 228, 228);
    margin-top: 30px;
}
.box-box{
    margin-top: 20px;
}
#inp-te{
    width: 600px;
    height: 40px;
    text-indent: 10px;
    border: 1px solid rgb(0, 162, 255);
}
#inp-btn{
    width: 80px;
    height: 42px;
    color: #ffffff;
    background: rgb(0, 162, 255);
    outline: none;
    border: none;
    position: relative;
    left: -10px;
}
.box-box-1{
    width: 800px;
    margin-top: 20px;
    border-bottom: 1px solid rgb(238, 238, 238);
    padding-bottom: 20px;
}
.box-te{
    color: #747474;
}

.box-name{
    padding-bottom: 20px;
    font-weight: bold;
}
.box-shopName{
    font-size: 12px;
    color: #b9b9b9;
    margin-top: 40px;
}